* {
  box-sizing: border-box;  
  background: purple;
  color: grey;
}

body {
  font-family: Arial;
  padding: 10px;
  margin: 0;
}

.header, .card, #quiz {
  background: purple;
}

.header {
  padding: 30px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  margin: 0;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

#quiz {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  text-align: center;
}

#question {
  margin-bottom: 20px;
  text-align: center;
}

#proposals {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(227, 238, 10);
  color: #131313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8d8d;
}

img {
  max-width: 100%;
  height: auto;
}